/* --------------------------------------------------
 * DESIGN NOTES
 * --------------------------------------------------
 * This stylesheet ties together site layout with details of typography,
 * iconography etc. Some or all of these may be imported from elsewhere.
 * In other words, here we aim to *compose* the parts together. Each part
 * should, in turn, cater to a very specific *single* purpose (e.g. specify
 * all the font-faces we wish to use).
 */


/* --------------------------------------------------
/* TYPEFACE DECLARATIONS
* -------------------------------------------------- */
@import url(../fonts/faces.css);


/* --------------------------------------------------
 * LAYOUTS AND STYLES
 * -------------------------------------------------- */

:root {
    /* --------------------------------------------------
     * MEASURE: Basis for all proportions.
     * -------------------------------------------------- */
    --measure: 72ch;            /* Max character width of a line. */

    /* --------------------------------------------------
     * MODULAR SCALE: Measures for rows and columns.
     *
     * - Rows: baseline + 3 larger and 3 smaller heights should suffice.
     *
     * - Columns: intended to support 1, 2, and 3 column fluid layouts,
     *   for small, medium, wide wide screen layouts respectively. E.g.
     *   prose may occupy 3 narrow columns on a widescreen monitor, but
     *   on a smartphones, it may get a single full-width column.
     * -------------------------------------------------- */

    /* Proportion for modular grid. */
    --ratio: 1.5;

    /* Scale measure map to height and width of square cell */
    --scale-xxxxs: calc(var(--scale-xxxs) / var(--ratio));
    --scale-xxxs: calc(var(--scale-xxs) / var(--ratio));
    --scale-xxs: calc(var(--scale-xs) / var(--ratio));
    --scale-xs: calc(var(--scale-s) / var(--ratio));
    --scale-s: calc(var(--scale-base) / var(--ratio));
    --scale-base: 1rem;         /* Set baseline grid. */
    --scale-l: calc(var(--scale-base) * var(--ratio));
    --scale-xl: calc(var(--scale-l) * var(--ratio));
    --scale-xxl: calc(var(--scale-xl) * var(--ratio));
    --scale-xxxl: calc(var(--scale-xxl) * var(--ratio));

    /* Aliases for column widths */
    --col-w-full-bleed: calc(var(--measure) * var(--ratio));
    --col-w-full: var(--measure);
    --col-w-midi: calc(var(--col-w-full) / var(--ratio));
    --col-w-half: calc(var(--col-w-full) / 2);
    --col-w-narrow: calc(var(--col-w-midi) / var(--ratio));
    --col-w-quarter: calc(var(--col-w-full) / 4);
    --col-w-eighth: calc(var(--col-w-full) / 8);

    /* --------------------------------------------------
     * FONTS: Standard fonts, faces, and sane fallbacks.
     * -------------------------------------------------- */
    /* Typesetting defaults. */
    --body-font-family-default: "GentiumPlusW";
    --brand-font-family-default: "Oswald";
    line-height: var(--scale-l);
    font-size: var(--scale-l);
    font-weight: normal;

    /* --------------------------------------------------
     * EMBELLISHMENTS: borders, colours etc.
     * --------------------------------------------------*/
    /* --color-light: #ffffff; */
    --color-light: /* #f0ece2; */ /* #d9dad7; */ #f0ece2; #dfd3c3;
    /* --color-dark: #151515; */
    /* --color-dark: #202020; */
    /* --color-dark: #1a2639; */
    --color-dark: #1a2639; /* #1d1716; */
    /* --color-background: #f5f5f5; */
    --color-background: /* #d9dad7; */ /* #f0ece2; */  #dfd3c3;
    --color-links:  /* #c24d2c; */  #1a2639; /*#3e4a61; #8a0f0f; */
    --color-masthead:/* #ff894c; */  #ef9f2c;

    color: var(--color-light);
    background-color: var(--color-background);
}

* {
    max-width: var(--col-w-full);
}

html,
body,
div,
header,
nav,
main,
input,
button,
footer {
    font-family: var(--body-font-family-default), sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: none;
}

body {
    margin: var(--scale-xs);
}

.prev-next {
    max-width: var(--col-w-narrow);
}

h1 {
    font-size: var(--scale-l);
    line-height: var(--scale-xl);
}

h2, h3 {
    font-style: italic;
}

input#searchField,
button#searchButton {
    font-family: var(--brand-font-family-default);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--scale-xxxs);
    padding-right: var(--scale-xxxs);
    font-weight: 300;
    font-size: var(--scale-base);
}

input#searchField {
    border-radius: var(--scale-xxxxs);
    color: var(--color-dark);
}

button#searchButton {
    border-radius: var(--scale-xxxxs);
    background-color: var(--color-masthead);
    color: var(--color-dark);
}

.masthead,
.homepage\:section,
.homepage\:title,
.homepage\:author,
.homepage\:meta,
.homepage\:title-icon,
.homepage\:read-more {
    font-family: var(--brand-font-family-default), sans-serif;
    font-style: normal;
}

.masthead {
    font-weight: 200;
    font-size: var(--scale-xxl);
    line-height: var(--scale-xxxl);
    color: var(--color-masthead) !important;
}


.homepage\:section {
    font-weight: 300;
    font-size: var(--scale-xl) !important;
    line-height: var(--scale-xxl) !important;
}

.homepage\:content h1 {
    font-family: var(--brand-font-family-default), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--scale-l) !important;
    line-height: var(--scale-l) !important;
}

.homepage\:title {
    font-weight: 200;
    font-size: var(--scale-l) !important;
    line-height: var(--scale-xl) !important;
}

.homepage\:author {
    font-weight: 400;
    font-size: var(--scale-base) !important;
    line-height: var(--scale-l) !important;
}

.homepage\:meta * {
    font-weight: 300;
    /* font-style: reg; */
    font-size: var(--scale-s) !important;
    line-height: var(--scale-base) !important;
    color: var(--color-masthead) !important;
}

.homepage\:title-icon {
    font-weight: 300;
    font-size: var(--scale-base) !important;
    line-height: var(--scale-base) !important;
}

.homepage\:read-more {
    font-weight: 400;
    font-size: var(--scale-base) !important;
    line-height: var(--scale-base) !important;
    color: var(--color-links) !important;
}

.center {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--col-w-full);
}

.box {
    padding: var(--scale-s);
    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: var(--scale-xxxxs);
}

.box * {
    color: inherit;
}

.box.invert {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.box.invert.thin {
    padding: none;
    border: none;
    max-height: var(--scale-xxxs);
}

.box.icon {
    color: var(--color-dark);
    background-color: var(--color-masthead);
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--scale-base);
}

footer,
nav * {
    font-family: var(--brand-font-family-default), sans-serif;
    font-weight: 300;
    font-size: var(--scale-base);
    line-height: var(--scale-base);
    text-underline-offset: var(--scale-xxs) ;
}

nav > * {
    color: var(--color-masthead) !important;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, var(--scale-base));
    justify-content: flex-start;
    align-items: center;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--scale-base);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc(( 30rem - 100%) * 999);
}

.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
    flex-basis: 100%;
}

.with-sidebar,
.with-sidebar-narrow {
    display: flex;
    flex-wrap: wrap;
    gap: var(--scale-base);
    max-width: var(--col-w-full);
}

.with-sidebar > :first-child {
    flex-basis: 0;
    flex-grow: 600;
}

.with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 300;
}

.with-sidebar-narrow > :first-child {
    flex-basis: 0;
    flex-grow: 199;
}

.with-sidebar-narrow > :last-child {
    flex-basis: 0;
    flex-grow: 800;
}
